* {

	margin: 0;
	padding: 0;

}

h1 {

	color: #E1b715;
	background-color: #033B6B;

}

h2 {

	color: #033B6B; 
	text-align: center;

}

h3 {

	color: #033B6B;
	
}
a {

	color: #1B5799;
	text-decoration: none;

}




